<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/image/fav.png">
    <title>Weather-App</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h2 class="head">Weather-App</h2>
    <section>
        <div class="container">
            <div class="inputs">
                <input type="text" id="input" class="search-inp" placeholder="Enter the city name">
                <button onclick="infetch()" class="search-btn"><img class="search-img" src="/image/search.png"></button>
            </div>
            <div class="result">
                <img class="result-img" id="imgresult" src="/image/clear.png" alt="">
                <h3 id="degree" class="degree"></h3>
                <h3 id="cityName" class="cityName">Delhi,IN</h3>
            </div>
            <div class="result2">
                <h3 class="humi" id="humidity" ></h3>
                <h3 class="humi" id="wind"></h3>
            </div>
            <div class="me">Developer-Arpit❤️️</div>
        </div>
    </section>
</body>
<script src="js/index.js"></script>
</html>